/vendor/
/node_modules/
/public/build
/public/storage
storage/*.key
storage/*
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
.phpactor.json
auth.json