*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

#banner {
  position: relative;
  width: 300px;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #0b0916;
  background-color: #0b0916;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#video-player {
  width: 300px;
  height: 600px;
  display: none;
}

img {
  display: none;
  position: absolute;
  width: 300px;
  height: 600px;
  top: 0;
  left: 0;
}

.title {
  opacity: 0;
  transform: rotateY(-90deg);
}
#a {
  transform-origin: 25px 86px;
}
#r{
  transform-origin: 52px 86px;
}
#c{
  transform-origin: 80px 86px;
}
#h{
  transform-origin: 106px 86px;
} 
#i{
  transform-origin: 128px 86px;
}
#t{
  transform-origin: 147px 86px;
}
#e{
  transform-origin: 171px 86px;
}
#c2{
  transform-origin: 199px 86px;
}
#t2{
  transform-origin: 222px 86px;
}
#o{
  transform-origin: 249px 86px;
}
#n{
  transform-origin: 279px 86px;
}

#icon {
  opacity: 0;
  transform-origin: 22px 22px;
  transform: scale(0.5);
}
#text {
  opacity: 0;
  transform: translateY(-10px);
}
.film {
  opacity: 0;
  transform: translateY(3px);
}
.quote {
  opacity: 0;
  transform: translateY(10px);
}

.cta {
  transform: scale(0.7);
  transform-origin: 150px 572px;
  opacity: 0;
}

#video {
  position: absolute;
  width: 255px;
  height: 144px;
  top: 159px;
  left: 20px;
  right: 40px;
  margin: 0 auto;
  background-color: black;
  object-fit: cover;
  border: 1px solid #efe42b;
}

button,
button i {
  cursor: pointer;
}

.btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
}
.btn:focus {
  outline: none;
}
#toggle {
  position: absolute;
  top: 277px;
  left: 25px;
  z-index: 100000;
}
#sound {
  position: absolute;
  top: 277px;
  left: 229px;
  z-index: 100000;
}
#full_screen {
  position: absolute;
  top: 277px;
  left: 250px;
  z-index: 100000;
}
.fullScreen{
  font-size: 25px;
}
.material-icons {
  font-size: 18px;
}
#toggle .material-icons {
  font-size: 18px;
}
.video-controls {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  transition: 0.4s;
}
